.controls-container {
    display: flex;
    justify-content: center;
    width: 20%;
    padding-bottom: 50px;
}

.input-field {
    margin-right: 10px;
}

@media (min-width: 600px) and (max-width: 1193px) {
    .controls-container {
        width: 40%;
    }
}

@media (max-width: 599px)  {
    .controls-container {
        width: 70%;
    }
}

